body {
    font-family: Arial;
    padding: 15px;
    background: #f7f7f7;
    text-align: center;
  }
  h2, h1 {
    color: #333;
  }
  ul {
    list-style: none;
    padding: 0;
  }
  li {
    background: #fff;
    padding: 8px;
    margin: 5px 0;
    border-radius: 10px;
  }
  a {
    display: block;
    margin-top: 10px;
    color: #007BFF;
  }
  